:root {
  --main-color: #101010;
  --white-color: #ffffff;
  --creamy-color: #e4d8cc;
  --creamy-second: #c3bab1;
  --violet-color: #7837f3;
  --violet-lite: #b99fea;
  --orange-pseudo-el: #eba789;
  --mint-color: #96dbc6;
  --btn-hero-bg: rgba(228, 216, 204, 0.5);
  --main-transition: background-color 600ms linear;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  color: var(--main-color);
}

.container {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
}

.animate__bounce:hover {
  display: inline-block;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Header */

.header {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.header-text {
  font-size: 11px;
  line-height: calc(24 / 11);
  text-transform: uppercase;

  color: var(--creamy-color);
}

.header-nav-link.current {
  border-bottom: 2px solid var(--creamy-second);
  border-radius: 2px;
}

.header-nav-link::after {
  content: "";
  position: absolute;
  display: block;

  bottom: 0;
  width: 100%;
  height: 2px;

  border-radius: 2px;

  background-color: var(--creamy-second);

  opacity: 0;

  transition: opacity 250ms linear;
}

.header-nav-link:hover::after {
  opacity: 1;
}

.header-flex {
  display: flex;
  justify-content: space-around;

  padding-top: 23px;
}

.header-nav {
  margin-left: 130px;
}

.header-nav-list {
  display: flex;
  gap: 32px;
}

.header-contacts {
  display: flex;
  gap: 38px;

  margin-left: auto;
}

.header-nav-link {
  position: relative;
  padding: 15px 0;
}

/* Hero */

.hero {
  width: 1280px;
  height: 784px;

  margin: 0 auto;

  background: no-repeat url(../img/hero-bg.jpeg);
  background-position: center;
  background-size: cover;
}

.hero-title {
  display: inline-block;
  width: 838px;

  margin-top: 400px;
  margin-bottom: 14px;

  font-size: 57px;
  line-height: calc(60 / 57);

  color: var(--creamy-color);
}
.hero-text {
  margin-bottom: 42px;

  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--creamy-second);
}
.hero-list {
  display: inline-flex;
  gap: 16px;

  margin-bottom: 116px;
}

.hero-link {
  position: relative;
  padding: 14px 34px;

  color: var(--white-color);
  background-color: var(--btn-hero-bg);

  border-radius: 100px;
  z-index: 1;
}

.hero-link::after {
  content: "";
  position: absolute;
  display: block;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;

  transform: scale(0);
  transform-origin: center center;

  transition: transform 250ms ease-in-out;

  background-color: var(--violet-color);

  z-index: -1;
}

.hero-link:is(:hover, :focus)::after {
  transform: scale(1);
}

/* Benefits */
.benefits {
  width: 1280px;
  margin: 0 auto;

  background-color: var(--creamy-color);
}

.benefits-item {
  display: flex;
  gap: 106px;
  align-items: center;
  justify-content: space-between;
}

.benefits-item .benefits-title-wrapp {
  display: flex;
  align-items: center;

  gap: 12px;
}

.benefits-item:nth-child(even) {
  flex-direction: row-reverse;
}

.benefits-item:nth-child(1) {
  height: 486px;
}

.benefits-item:nth-child(1) .benefits-subtitle {
  width: 507px;

  margin-bottom: 15px;

  font-size: 54px;
  line-height: calc(58 / 54);
}

.benefits-item:nth-child(1) .benefits-text {
  width: 452px;
  line-height: calc(22 / 16);
}

.benefits-item:nth-child(1) img {
  width: 539px;
  height: 283px;
}

.benefits-item:nth-child(2) .benefits-subtitle {
  width: 460px;
}

.benefits-item:nth-child(2) .benefits-number-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;

  border-radius: 50%;
  background-color: var(--violet-lite);
}

.benefits-item:nth-child(3) .benefits-number-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;

  border-radius: 50%;
  background-color: var(--orange-pseudo-el);
}

.benefits-item:last-child .benefits-number-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;

  border-radius: 50%;
  background-color: var(--mint-color);
}

.benefits-item:not(:first-child) {
  height: 725px;
}

.benefits-item:not(:first-child) img {
  width: 518px;
  height: 500px;
}

.benefits-item:not(:first-child) .benefits-text {
  width: 490px;
  line-height: calc(22 / 14);
}

.benefits-item:nth-child(n + 2) .wrapper {
  margin-top: 180px;
}

.benefits-title {
  font-weight: 400;
  font-size: 19px;
  line-height: calc(36 / 16);
}

.benefits-subtitle {
  font-size: 35px;
  line-height: calc(45 / 35);

  margin-bottom: 18px;
}

.benefits-link {
  position: relative;
  display: inline-block;

  margin-bottom: 48px;
  width: 85px;

  color: var(--main-color);

  text-transform: uppercase;

  border-bottom: 2px solid var(--main-color);
}

.benefits-link::after {
  position: absolute;
  content: " ";

  right: 3px;
  top: 7px;

  width: 15px;
  height: 30px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
}
