$main-color: #101010;
$white-color: #ffffff;
$creamy-color: #e4d8cc;
$creamy-second: #c3bab1;
$violet-color: #7837f3;
$violet-lite: #b99fea;
$orange-pseudo-el: #eba789;
$mint-color: #96dbc6;
$btn-hero-bg: rgba(228, 216, 204, 0.5);
$main-transition: background-color 600ms linear;
